// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}


// Gravity form
.gform_wrapper {
	.ginput_container {
		.medium {
			width: 100%!important;
			max-width: 100%!important;
		}
	}
	.ginput_container_text, .ginput_container_textarea {
		input {
			background: $white;
			border: 1px solid $color-grey;
		}
		textarea {
			background: $white;
			border: 1px solid $color-grey;
		}
	}
	input.button {
		@include button-default;
	}
}


// Delivery form frontpage
.frontpage-input {
	background-image: url('../images/icon-home.svg');
	-webkit-background-size: 24px;
	     -o-background-size: 24px;
	        background-size: 24px;
	background-repeat: no-repeat;
	background-position: 15px 15px;
	padding: 16px 16px 16px 52px;
	border: 0;
	width: 70%;
	margin: 0 15% 0 15%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	@include media-breakpoint-down(sm) {
		width: 100%;
		margin: 0 0% 0 0%;
	}
}
.icon-search {
	float: right;
	position: relative;
	z-index: 5;
	background: $black;
	@include font-link-18;
	color: $white;
	border: 0;
	padding: 14px;
	margin-top: -56px;
	margin-right: 15%;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	transition: all 0.5s ease;
	@include media-breakpoint-down(sm) {
		margin-right: 0%;
	}
	&:hover {
		background: #1e9427;
	}
}
