.header {
  float: left;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 0px 24px -16px $black;
  -moz-box-shadow: 0px 0px 24px -16px $black;
  box-shadow: 0px 0px 24px -16px $black;
  @include media-breakpoint-down(sm) {
    display: none;
  }

  .brand {
    width: 305px;
    height: 62px;
    color: #fff;
    font-size: 16px;
    font-family: Nunito Sans, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 23px;
    letter-spacing: -1px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    a {
      color: $white;
      &:hover {
        text-decoration: none;
      }
    }
    span {
      float: left;
      background-image: url(../images/logo-hotcookie-slogan.svg);
      background-repeat: no-repeat;
      background-size: auto 45px;
      width: 261px;
      height: 0;
      padding-top: 45px;
      overflow: hidden;
      transition: all 0.25s ease;
      &:hover {
        transform: scale(1.08);
      }
    }
  }

  .nav-primary {
    display: flex;
    align-items: center;
    gap: 12px; // optional spacing between hamburger and store-switcher
    float: left;
    margin-top: 15px;
    @include font-link-16;

    a {
      float: left;
      @include font-h5;
      color: $color-primary-2;
      padding-top: 18px;
      padding-left: 18px;
      padding-right: 18px;
      padding-bottom: 18px;
      transition: all 0.25s ease;
      &:hover {
        background-color: $color-primary-2;
        text-decoration: none;
      }
    }
    .hamburger {
      &:hover {
        transform: scale(1.08);
      }
    }

    .store-switcher {
      position: relative;

      .current-store {
        background-image: url('../images/icon-store.svg');
        background-repeat: no-repeat;
        background-position: 8px center;
        background-size: 18px 20px;
        background-color: #D9D9D9;
        padding: 8px 8px 6px 32px;
        margin-right: 16px;
        border-radius: 8px;
        color: $color-primary-2;
        font-size: 16px;
        line-height: 20px;
        transition: all 0.25s ease;

        &:hover {
          text-decoration: none;
          transform: scale(1.08);
          background-color: $white;
        }
      }

      .store-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        z-index: 100;
        padding: 0;            // ✅ Remove default ul padding
        margin: 0;             // ✅ Remove default ul margin
        width: max-content;    // ✅ Prevent wrapping, auto-size to content
        white-space: nowrap;   // ✅ Prevent line breaks inside <a>

        li {
          list-style: none;
          margin: 0;
          padding: 0;

          a {
            display: block;
            padding: 8px 16px;
            color: $color-primary-2;
            text-decoration: none;
            white-space: nowrap; // ✅ Prevent wrapping inside link

            &:hover {
              background-color: $color-primary-1;
              color: #fff;
            }
          }
        }
      }
      &.active .store-dropdown {
        display: block;
      }
    }
  }
  .webshop-nav {
    float: right;
    margin-top: -52px;
    @include font-link-16;
    a.webshop-cart {
      float: left;
      background-image: url("../images/icon-bag.svg");
      background-repeat: no-repeat;
      background-position: 8px 4px;
      background-color: #D9D9D9;
      padding-top: 8px;
      padding-left: 32px;
      padding-right: 8px;
      padding-bottom: 8px;
      margin-right: 16px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      color: $color-primary-2;
      transition: all 0.25s ease;
      &:hover {
        text-decoration: none;
        transform: scale(1.08);
        background-color: $white;
      }
    }
    a.webshop-login {
      float: right;
      background-color: #D9D9D9;
      background-image: url("../images/icon-user.svg");
      -webkit-background-size: 16px;
      -o-background-size: 16px;
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: 8px 7px;
      padding-top: 8px;
      padding-right: 16px;
      padding-left: 32px;
      padding-bottom: 8px;
      color: $color-primary-2;
      transition: all 0.25s ease;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      &:hover {
        text-decoration: none;
        transform: scale(1.08);
        background-color: $white;
      }
    }
  }

  .navigation {
    float: left;
    position: fixed;
    top: -100%;
    bottom: 0;
    width: 200px;
    height: 500px;
    z-index: 5;
    background: #D9D9D9;
    text-align: left;
    transition: all 0.25s ease;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    -webkit-box-shadow: 0px 0px 24px -16px $black;
    -moz-box-shadow: 0px 0px 24px -16px $black;
    box-shadow: 0px 0px 24px -16px $black;
    &.active {
      top: 77px;
    }
    &:hover {
      text-decoration: none;
      transform: scale(1.08);
      background-color: $white;
    }
    ul {
      float: left;
      width: 100%;
      margin: 0;
      padding: 0;
      li {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        a {
          float: left;
          width: 100%;
          padding: 8px 8px;
          color: $color-primary-2;
          @include font-h3;
        }
        ul {
          li {
            a {
              padding: 8px 8px;
              @include font-link-16;
            }
          }
        }
      }
    }
  }
}

.header-mobile {
  display: none;
  float: left;
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  background-color: $black;
  -webkit-box-shadow: 0px 0px 24px -16px $black;
  -moz-box-shadow: 0px 0px 24px -16px $black;
  box-shadow: 0px 0px 24px -16px $black;
  @include media-breakpoint-down(sm) {
    display: block;
  }
  .brand {
    background-image: url("../images/logo-hotcookie.svg");
    background-position: center center;
    -webkit-background-size: 80px auto;
    -o-background-size: 80px auto;
    background-size: 80px auto;
    background-repeat: no-repeat;
    width: 80px;
    height: 0;
    padding-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: all 0.25s ease;
  }
  .hamburger {
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    background: $black;
    svg {
      height: 60px;
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
    }
  }
  .store-switcher {
    position: absolute;
    top: 0;
    left: 70px; // right of hamburger
    width: 60px;
    height: 60px;
    .current-store {
      position: relative;
      top: 0px;
      right: 0px;
      width: 60px;
      height: 55px;
      padding: 16px 16px 0 0;
      .store-icon {
        float: left;
        width: 70%;
        height: 70%;
        background: url("../images/icon-store-white.svg") no-repeat top right;
        background-size: auto 100%;
        text-indent: -9999px;
        cursor: pointer;
        pointer-events: auto;
        span {
          float: right;
          background-color: white;
          width: 20px;
          height: 20px;
          text-align: center;
          text-indent: 0;
          color: $white;
          font-size: 12px;
          line-height: 20px;
          margin-top: -6px;
          overflow: hidden;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
        }
      }
    }

    .store-dropdown {
      display: none;
      position: absolute;
      top: 100%; // directly below icon
      left: 0;
      transform: none;
      background: #fff;
      border-radius: 6px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      z-index: 100;
      padding: 0;
      margin: 0;
      width: max-content;
      white-space: nowrap;

      li {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
          display: block;
          padding: 8px 16px;
          color: $color-primary-2;
          text-decoration: none;
        }
        a.current {
          color: $color-primary-2;
          font-weight: bold;
        }
      }
    }

    &.active .store-dropdown {
      display: block;
    }
  }
  .cart {
    position: absolute;
    top: 0;
    right: 60px; // right of hamburger
    width: 60px;
    height: 55px;
    float: right;
    padding: 16px 16px 0 0;
    .webshop-cart {
      float: left;
      width: 100%;
      height: 100%;
      background: url("../images/icon-cart.svg") no-repeat top right;
      background-size: auto 100%;
      text-indent: -9999px;
      span {
        float: right;
        background-color: $color-primary-1;
        width: 20px;
        height: 20px;
        text-align: center;
        text-indent: 0;
        color: $white;
        font-size: 12px;
        line-height: 20px;
        margin-top: -6px;
        overflow: hidden;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
      }
    }
  }
  .login {
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px;
    height: 55px;
    padding: 16px 16px 0 0;
    .webshop-login {
      float: left;
      width: 80%;
      height: 75%;
      background: url("../images/icon-user-white.svg") no-repeat top right;
      background-size: auto 100%;
      text-indent: -9999px;
      span {
        float: right;
        background-color:#fff;
        width: 20px;
        height: 20px;
        text-align: center;
        text-indent: 0;
        color: $white;
        font-size: 12px;
        line-height: 20px;
        margin-top: -6px;
        overflow: hidden;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
      }
    }
  }
  .navigation {
    float: left;
    position: fixed;
    top: -100%;
    bottom: 0;
    width: 200px;
    height: 500px;
    z-index: 5;
    background: $white;
    color: $color-primary-2;
    text-align: left;
    transition: all 0.25s ease;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    -webkit-box-shadow: 0px 0px 24px -16px $black;
    -moz-box-shadow: 0px 0px 24px -16px $black;
    box-shadow: 0px 0px 24px -16px $black;
    &.active {
      top: 61px;
    }
    ul {
      float: left;
      width: 100%;
      margin: 0;
      padding: 0;
      li {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        a {
          float: left;
          width: 100%;
          padding: 8px 8px;
          color: $color-primary-2;
          @include font-h3;
        }
        ul {
          li {
            a {
              padding: 8px 8px;
              @include font-link-16;
            }
          }
        }
      }
    }
  }
}
