.page-banner {
	float: left;
	width: 100%;
	height: auto;
	background: $color-primary-1;
	padding-top: 64px;
	margin-bottom: 32px;
	margin-top: -24px;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
	.container {
		padding-top: 64px;
		padding-bottom: 64px;
		@include media-breakpoint-down(sm) {
			padding-top: 32px;
			padding-bottom: 32px;
		}
		h1 {
			@include font-display;
			color: $white;
			width: 100%;
			text-align: center;
		}
		p {
			@include font-h4;
			color: $white;
			width: 100%;
			text-align: center;
		}
	}
}
