// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


$color-primary-1: #C31218;
$color-primary-2: #9B0D12;

$color-secondary-1: #000000;

$color-lightgrey: #F6F6F6;
$color-grey: #DADADA;