.text-page {
	padding-top: 100px;
}

.content {
	float: left;
	width: 75%;
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}

.content-small {
	float: left;
	width: 75%;
	padding-bottom: 32px;
	padding-right: 5%;
	@include media-breakpoint-down(sm) {
		width: 100%;
		padding-right: 0;
	}
}