.page-banner {
	float: left;
	width: 100%;
	height: 416px;
	background: $black;
	padding-top: 64px;
	margin-bottom: 32px;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
	.container {
		padding-top: 64px;
		h1 {
			@include font-display;
			color: $white;
			width: 800px;
			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}
		p {
			@include font-16;
			color: $white;
			width: 800px;
			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}
	}
}

ul.socialmedia {
	float: left;
	margin: 0;
	padding: 0;
	li {
		float: left;
		margin: 0 0 0 16px;
		padding: 0;
		list-style: none;
		a {
			float: left;
			width: 16px;
			height: 0;
			padding-top: 16px;
			overflow: hidden;
			transition: all 0.25s ease;
			&:hover {
				transform: scale(2);
			}
		}
		&.Instagram {
			a {
				background-image: url('../images/icon-instagram.svg');
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}
		}
		&.Facebook {
			a {
				background-image: url('../images/icon-facebook.svg');
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}
		}
		&.Twitter {
			a {
				background-image: url('../images/icon-twitter.svg');
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}
		}
		&.Pintrest {
			a {
				background-image: url('../images/icon-pintrest.svg');
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}
		}
		&.Tumblr {
			a {
				background-image: url('../images/icon-tumblr.svg');
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}
		}
		&.Snapchat {
			a {
				background-image: url('../images/icon-snapchat.svg');
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}
		}
	}
}

ul.socialmedia-red {
	float: left;
	margin: 0;
	padding: 0;
	li {
		float: left;
		margin: 0 16px 0 0;
		padding: 0;
		list-style: none;
		a {
			float: left;
			width: 16px;
			height: 0;
			padding-top: 16px;
			overflow: hidden;
			transition: all 0.25s ease;
			&:hover {
				transform: scale(2);
			}
		}
		&.Instagram {
			a {
				background-image: url('../images/icon-instagram-red.svg');
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}
		}
		&.Facebook {
			a {
				background-image: url('../images/icon-facebook-red.svg');
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}
		}
		&.Twitter {
			a {
				background-image: url('../images/icon-twitter-red.svg');
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}
		}
		&.Pintrest {
			a {
				background-image: url('../images/icon-pintrest-red.svg');
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}
		}
		&.Tumblr {
			a {
				background-image: url('../images/icon-tumblr-red.svg');
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}
		}
		&.Snapchat {
			a {
				background-image: url('../images/icon-snapchat-red.svg');
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}
		}
	}
}

.content {
	float: left;
	width: 75%;
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}
.content-wide {
	float: left;
	width: 75%;
}
.content-ultrawide {
	padding-top: 114px;
}
.content-small {
	float: left;
	width: 50%;
	padding-bottom: 32px;
	padding-right: 5%;
	@include media-breakpoint-down(sm) {
		width: 100%;
		padding-right: 0;
	}
}


.team {
	margin: 0;
	padding: 0;
	li {
		float: left;
		width: 50%;
		margin: 0;
		padding: 0;
		padding-bottom: 32px;
		list-style: none;
		@include media-breakpoint-down(md) {
			width: 100%;
		}
		img {
			float: left;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			border-radius: 100px;
			width: 50px;
			margin-right: 16px;
		}
		h3 {
			float: left;
			margin: 0;
			padding: 0;
			line-height: 32px;
		}
		small {
			float: left;
			width: 100%;
			padding-left: 66px;
			margin-top: -16px;
			margin-bottom: 16px;
		}
		p {
			float: left;
			width: 100%;
		}
	}
}




.shop-categories {
	float: left;
	width: 100%;
	margin: 32px 0 32px 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		float: left;
		width: 25%;
		padding: 15px;
		@include media-breakpoint-down(md) {
			width: 50%;
		}
		a {
			float: left;
			border: 2px solid $color-primary-1;
			width: 100%;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			border-radius: 12px;
			text-align: center;
			transition: all 0.25s ease;
			img {
				width: 100%;
				margin-bottom: 16px;
			}
			&:hover {
				transform: scale(1.2);
				text-decoration: none;
			}
		}
		&:last-child {
			width: 100%;
			@include media-breakpoint-down(md) {
				width: 50%;
			}
			a {
				text-align: left;
				img {
					width: 20%;
					float: left;
					margin-bottom: 0;
					margin-right: 16px;
					@include media-breakpoint-down(md) {
						width: 100%;
						margin-right: 0;
						margin-bottom: 16px;
					}
				}
				h2 {
					margin-top: 12px;
					@include media-breakpoint-down(md) {
						text-align: center;
					}
				}
				p {
					color: $black;
					@include media-breakpoint-down(md) {
						display: none;
					}
				}
			}
		}
	}
}