.shop-categories {
	float: left;
	width: 100%;
	margin: 32px 0 32px 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		float: left;
		width: 33%;
		padding: 15px;
		@include media-breakpoint-down(md) {
			width: 50%;
		}
		a {
			float: left;
			border: 2px solid $color-primary-1;
			width: 100%;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			border-radius: 12px;
			text-align: center;
			transition: all 0.25s ease;
			img {
				width: 100%;
				margin-bottom: 16px;
			}
			&:hover {
				transform: scale(1.2);
				text-decoration: none;
			}
		}
	}
}