.shop-categories {
	float: left;
	width: 100%;
	margin: 32px 0 32px 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		float: left;
		width: 25%;
		padding: 15px;
		@include media-breakpoint-down(md) {
			width: 50%;
		}
		a {
			float: left;
			border: 2px solid $color-primary-1;
			width: 100%;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			border-radius: 12px;
			text-align: center;
			transition: all 0.25s ease;
			img {
				width: 100%;
				margin-bottom: 16px;
			}
			&:hover {
				transform: scale(1.2);
				text-decoration: none;
			}
		}
		&:last-child {
			width: 100%;
			@include media-breakpoint-down(md) {
				width: 50%;
			}
			a {
				text-align: left;
				img {
					width: 20%;
					float: left;
					margin-bottom: 0;
					margin-right: 16px;
					@include media-breakpoint-down(md) {
						width: 100%;
						margin-right: 0;
						margin-bottom: 16px;
					}
				}
				h2 {
					margin-top: 12px;
					@include media-breakpoint-down(md) {
						text-align: center;
					}
				}
				p {
					color: $black;
					@include media-breakpoint-down(md) {
						display: none;
					}
				}
			}
		}
	}
}