.single-product {
	.product {
		max-width: 1000px;
		margin: auto;
		padding-top: 60px;
	}
}




.tax-product_cat {
	.header {
		background: $color-primary-1;
	}
	.page-title {
		text-align: center;
	}
	.term-description {
		text-align: center;
	}
	ul.products {
		li.product {
			width: 33.33333%!important;
			clear: none;
			@include media-breakpoint-down(md) {
				width: 50%!important;
			}
			@include media-breakpoint-down(sm) {
				width: 100%!important;
			}
		}
	}
}